body {
    font-size: 14px;
}

h1 {
    font-family: Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: brown;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
    color: brown;
    text-decoration: underline;
}

figcaption {
    font-size: 11px;
    font-style: italic;
}

img {
    max-width: 250px;
}